################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/P2LGamification/.vs/P2LGamification/v15/Server/sqlite3
